body {
  
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  color: #828282;

  margin: 0 auto;
}

.planet {
  margin-top: 30px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  line-height: 40px;
  color: #3F3D56;;

  margin-bottom: 10px;
}

span {
  color: #EE24FF;
}

strong {
  color: #3F3D56;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.line {
  border-top: 1px solid #cececf;
  width: 400px;

  margin: 64px auto 10px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 42px;

  list-style: none;
}

a {
  font-size: 15px;
  color: #3F3D56;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #858586;
}

footer img {
  display: block;
  width: 100%;
  height: 100px;
}